.html,
.body {
  box-sizing: border-box !important;
  padding   : 0 !important;
  margin    : 0 !important;
}

.section-heads,
.shd-section {
  width : 100%;
  height: auto;

  display        : flex;
  flex-direction : column;
  align-items    : center;
  justify-content: flex-start;

  position: relative;
}

span {
  padding: 0 !important;
}

.shd-section {
  width: 95%
}

.shd-section .title-bar {
  width : 100%;
  height: 4rem;

  display        : flex;
  justify-content: center;
  align-items    : center;

  font-size  : 1.5rem;
  font-weight: 600;
}

.shd-section .add-new-button-bar {
  width          : auto;
  height         : auto;
  display        : flex;
  justify-content: center;
  align-items    : center;

  position: relative;
}

.shd-section .add-new-button-bar .add-new-btn {
  width : 3rem;
  height: 3rem;

  background-color: rgb(0, 149, 224);
  color           : white;

  display        : flex;
  justify-content: center;
  align-items    : center;

  border-radius: 100%;
  box-shadow   : 1px 1px 3px rgba(0, 0, 0, 0.5);

  cursor    : pointer;
  transition: all .3s ease-in-out;

  position: fixed;
  right   : 3%;
  bottom  : 2%;

  z-index: 1;
}

.shd-section .add-new-button-bar .add-new-btn:hover {
  background-color: rgb(0, 100, 149);
}

.shd-section .add-new-button-bar .add-new-btn::before {
  content  : "+";
  font-size: 1.5rem;
}

.empty-data-set {
  width : 100%;
  height: 3rem;
  color : gray;

  display        : flex;
  justify-content: center;
  align-items    : center;

  background-color: rgb(255, 250, 244);
  border-radius   : 0.3rem;
}

.data-bar {
  width : 100%;
  height: 9rem;

  display        : flex;
  flex-direction : column;
  justify-content: center;
  align-items    : center;

  background-color: rgb(255, 250, 244);
  border-radius   : 0.3rem;
  box-shadow      : 1px 1px 2px rgba(0, 0, 0, 0.1);

  padding: 1rem;
  margin : 0.2rem 0;

  transition: all .3s ease-in-out;
}

.data-bar:hover {
  background-color: rgb(255, 248, 240);
}

.data-bar .name,
.data-bar .section {
  width : 100%;
  height: auto;

  font-size: 1.2rem;

  display        : flex;
  justify-content: center;
  align-items    : center;

  margin: 0.15rem 0;
}

.data-bar .section {
  height   : auto;
  font-size: 0.9rem;
  color    : rgb(81, 81, 81);
}

.data-bar .action-btns {
  width : 100%;
  height: 100%;

  display        : flex;
  justify-content: center;
  align-items    : center;
}

.data-bar .edit-btn,
.data-bar .delete-btn {
  width : 2rem;
  height: 2rem;

  color        : white;
  border-radius: 0.4rem;

  display        : flex;
  justify-content: center;
  align-items    : center;

  font-size: 1.3rem;

  padding: 0.25rem 0.25rem;

  margin: 0 0.25rem;

  cursor: pointer;
}

.data-bar .edit-btn {
  background-color: rgba(105, 132, 189);
}

.data-bar .delete-btn {
  background-color: rgba(255, 94, 99);
}

.data-bar .separator {
  display: none;
}

.shd-section.create-dialog-wrapper {
  width : 100%;
  height: 100%;

  position: fixed;
  left    : 0;
  top     : 0;

  background-color: rgba(0, 0, 0, 0.5);

  display        : none;
  justify-content: center;
  align-items    : center;

  z-index: 1000;
  opacity: 0;
}

.create-dialog {
  width : 25rem;
  height: 30rem;

  background-color: aliceblue;
  border-radius   : 0.3rem;
  box-shadow      : 1px 1px 20px rgba(0, 0, 0, 0.2);

  display        : flex;
  flex-direction : column;
  justify-content: flex-start;
  align-items    : center;
}

.create-dialog .header,
.create-dialog #sectionHeadForm,
.create-dialog #sectionHeadForm .main,
.create-dialog .footer {
  width : 100%;
  height: auto;

  display        : flex;
  justify-content: center;
  align-items    : center;
}

.create-dialog #sectionHeadForm {
  flex-direction: column;
}

.create-dialog .header {
  height: 7rem;

  font-size  : 1.2rem;
  font-weight: 600;

  background-color: rgba(0, 0, 0, 0.1);
  border-radius   : 0.3rem 0.3rem 0 0;

  border-bottom: 1px solid rgb(212, 212, 212);
}

.create-dialog .main {
  height: 100%;

  flex-direction : column;
  justify-content: flex-start;

  padding: 1rem;
}

.create-dialog .main .section-head-element {
  margin: 0.25rem 0 !important;
}

.create-dialog .main #sectionSelect {
  width : 100%;
  height: 3.5rem !important;
}

.create-dialog .main .row {
  border-radius: 0.4rem;
  box-sizing   : border-box;
}

.create-dialog .footer .button-wrapper {
  width : 100%;
  height: 6rem;

  display        : flex;
  justify-content: space-evenly;
  align-items    : center;

  padding: 1rem 1rem;
}

.create-dialog .footer .button-wrapper .submit-btn,
.create-dialog .footer .button-wrapper .cancel-btn {
  width : 100%;
  height: 3rem;

  display        : flex;
  justify-content: center;
  align-items    : center;

  border-radius: 0.4rem;
  box-shadow   : 1px 1px 3px rgba(0, 0, 0, 0.3);

  color: white;

  cursor: pointer;

  transition: all .3s ease-in-out;
}

.create-dialog .footer .button-wrapper .submit-btn {
  background-color: rgb(0, 149, 224);
  margin-right    : 0.25rem;
}

.create-dialog .footer .button-wrapper .submit-btn:hover {
  background-color: rgb(0, 100, 149);
}

.create-dialog .footer .button-wrapper .submit-btn.disabled,
.create-dialog .footer .button-wrapper .cancel-btn.disabled {
  opacity       : 0.5;
  pointer-events: none;
  cursor        : no-drop;
}

.create-dialog .footer .button-wrapper .submit-btn::after {
  display        : flex;
  justify-content: center;
  align-items    : center;
}

.create-dialog .footer .button-wrapper .submit-btn.disabled.load::after {
  content: "";
  width  : 10px;
  height : 10px;

  border          : 0.2rem solid white;
  /* border-top   : 0.2rem solid white; */
  border-style    : dotted;
  border-radius   : 100%;

  margin: 0.5rem;

  animation-name           : rotate;
  animation-duration       : 1000ms;
  animation-timing-function: ease-in-out;
  animation-delay          : 0;
  animation-iteration-count: infinite;
  animation-fill-mode      : forwards;
}

.create-dialog .footer .button-wrapper .submit-btn.disabled.success::after {
  width         : 0;
  height        : 0;
  content       : "✓";
  animation-name: none;
  border        : none;

  color      : rgb(122, 255, 211);
  font-size  : 1.2rem;
  font-weight: 600;

  margin-left: 1rem;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.create-dialog .footer .button-wrapper .cancel-btn {
  background-color: rgb(255, 115, 90);
  margin-left     : 0.25rem;
}

.create-dialog .footer .button-wrapper .cancel-btn:hover {
  background-color: rgb(182, 67, 47);
}

.create-dialog .main .error-message {
  width          : 100%;
  height         : 1rem;
  display        : flex;
  justify-content: flex-start;
  align-items    : center;

  padding: 1rem;

  color    : tomato;
  font-size: 1rem;

  opacity: 0;
}





@media (min-width: 547px) {

  .section-heads,
  .shd-section {
    width : 100%;
    height: auto;

    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: flex-start;
  }

  .shd-section {
    width: 80%
  }

  .shd-section .add-new-button-bar {
    width          : 100%;
    height         : 4rem;
    display        : flex;
    justify-content: flex-end;
    align-items    : center;
  }

  .shd-section .add-new-button-bar .add-new-btn {
    width : 9rem;
    height: 2.5rem;

    border-radius: 0.3rem;

    position: relative;
    right   : 0;
    bottom  : 0;
  }

  .shd-section .add-new-button-bar .add-new-btn::before {
    content  : "ADD NEW";
    font-size: 1rem;
  }

  .data-bar {
    height: 3.5rem;

    flex-direction: row;

    padding: 0 1rem;
  }


  .data-bar .action-btns {
    width: auto;
  }

  .data-bar .name,
  .data-bar .section {
    height         : 100%;
    justify-content: flex-start;
  }

  .data-bar .section {
    width    : 20rem;
    font-size: 1rem;
  }

  .data-bar .action-btns .edit-btn,
  .data-bar .action-btns .delete-btn {
    padding         : 0;
    background-color: transparent;

    width : auto;
    height: auto;

    font-size: 1.5rem;

    transition: all 0.3s ease-in-out;
  }

  .data-bar .action-btns .edit-btn {
    color: rgba(105, 132, 189);
  }

  .data-bar .action-btns .edit-btn:hover {
    color: rgb(68, 87, 128);
  }

  .data-bar .action-btns .delete-btn {
    color: rgba(255, 94, 99);
  }

  .data-bar .action-btns .delete-btn:hover {
    color: rgb(173, 64, 68);
  }

  .data-bar .separator {
    width : auto;
    height: 100%;

    display        : flex;
    justify-content: center;
    align-items    : center;

    padding: 0 1rem !important;
    color  : rgb(175, 175, 175);
  }

  .create-dialog {
    width : 40rem;
    height: 30rem;

    background-color: aliceblue;
    border-radius   : 0.3rem;
    box-shadow      : 1px 1px 20px rgba(0, 0, 0, 0.2);

    display        : flex;
    flex-direction : column;
    justify-content: flex-start;
    align-items    : center;
  }

  .create-dialog .footer .button-wrapper {

    display        : flex;
    justify-content: flex-start;
    align-items    : center;
  }

  .create-dialog .footer .button-wrapper .submit-btn,
  .create-dialog .footer .button-wrapper .cancel-btn {
    width: 8rem;
  }
}